@use "../../styles/custom-variables" as *;
@use "../../styles/helpers" as *;

.stepList {
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (max-width: $breakpoint-tablet) {
    @include flex-center;
    gap: $space-md;
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 29px;
    }

    @media screen and (max-width: $breakpoint-tablet) {
      margin-bottom: 0 !important;
    }
  }
}
