@use "../../styles/custom-variables" as *;
@use "../../styles/helpers" as *;

.success {
  display: flex;
  flex: 1;
  height: 100%;
  @include flex-center;
  padding-right: 35px;

  @media screen and (max-width: $breakpoint-tablet) {
    margin: -100px $space-sm 0;
    background: $color-white;
    border-radius: $border-radius;
    padding: 100px 50px;
    height: auto;
  }

  &__content {
    @include flex-column-center;
    width: 100%;
    row-gap: 25px;

    h1 {
      margin: 0;
    }

    p {
      text-align: center;
      color: $color-grey-500;
      line-height: 1.5;
      margin: 0;
    }
  }
}
