@use "../../styles/helpers" as *;
@use "../../styles/custom-variables" as *;

.stepOverview {
  @include flex-column;
  height: 100%;
  justify-content: space-between;
  padding-right: $space-lg;

  &__content {
    flex: 1 0 0;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    margin-top: -100px;
    padding-right: 0;
  }
}
