@use "./custom-variables" as *;

@mixin button {
  margin: 0;
  border: none;
  border-radius: 8px;
  font-weight: $font-weight-medium;
  font-size: $font-size-base;
  font-family: $font-family-base;
  text-decoration: none;
  cursor: pointer;
}

.buttonFilled {
  @include button;
  background-color: $color-blue-950;
  color: $color-white;
  padding: 15px 25px;
}

.buttonGhost {
  @include button;
  padding: 14px 0;
  background-color: transparent;
  color: $color-blue-950;
  height: 48px;
}
