@use "../../styles/custom-variables" as *;

.titleBox {
  margin-bottom: 23px;
  flex: 0;
  p {
    color: $color-grey-500;
    margin: 0;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    margin: 0 $space-sm;
    background: $color-white;
    border-radius: $border-radius $border-radius 0 0;
    padding: $space-md $space-md 0;
  }
}
