@use "../../styles/custom-variables" as *;

.sidebar {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/bg-sidebar-desktop.svg");
  background-position: center;
  background-size: cover;
  border-radius: $small-border-radius;
  padding: 39px $space-lg;

  @media screen and (max-width: $breakpoint-tablet) {
    border-radius: 0;
    background-image: url("../../assets/bg-sidebar-mobile.svg");
  }
}
